@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: Dina;
   src: url("/fonts/Dina.ttc") format("opentype");
}

@font-face {
   font-family: Raleway;
   src: url("../../public/fonts/Raleway-VariableFont_wght.ttf") format("opentype");
}

body {
   font-family: Raleway;
   color: #354358;
}

